body {
  margin: 0;
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 0em 2em;
  color: snow;
  background-color: #101010;
  font-family: "IBM Plex Serif", serif;
}

.title {
  color: palevioletred;
  font-weight: 500;
}

a,
a:visited {
  color: snow;
  text-decoration: none;
}

a:hover {
  color: palevioletred;
}
