.nav-links {
  display: flex;
  max-width: 25em;
  flex-direction: column;
  gap: 0.5em;
}

hr {
  width: 100%;
  max-width: 25em;
  color: palevioletred;
  border-color: palevioletred;
  margin: 0.5em 0em 1em 0em;
}

@media only screen and (max-width: 40em) {
  hr {
    max-width: 100%;
  }
}
